<script>
Mousetrap.bind(['e'], function( e ) {
  e.preventDefault();
  window.location = "/edit" + window.location.pathname;
  return false;
});
</script>
<div id="wiki-wrapper" class="page">
<div id="head">
  <h1>{{page_header}}</h1>
  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton" rel='tipsy' title='Home'><a href="{{base_url}}/"
       class="action-home-page"><i class="icon-home"></i></i></a></li>
    <li class="minibutton" rel='tipsy' title='Pages'><a href="{{base_url}}/pages"
      class="action-all-pages"><i class="icon-list"></i></a></li>
    <li class="minibutton" rel='tipsy' title='Files'><a href="{{base_url}}/fileview"
    class="action-fileview"><i class="icon-file"></i></a></li>
    <li class="minibutton" rel='tipsy' title='Tags'><a href="{{base_url}}/tags"
    class="action-tags"><i class="icon-tags"></i></a></li>
    {{#signedin}}
    <li class="minibutton jaws" rel='tipsy' title='New Page'>
      <a href="#" id="minibutton-new-page"><i class="icon-plus"></i></a></li>
    {{#allow_uploads}}
    <li class="minibutton jaws" rel='tipsy' title='Upload file'>
      <a href="#" id="minibutton-upload-page"><i class="icon-upload"></i></a></li>
    {{/allow_uploads}}
    <li class="minibutton" rel='tipsy' title='Sign out'>
      <a href="{{base_url}}/logout"><i class='icon-signout'></i></a>
    </li>
    {{/signedin}}
    {{#not_signedin}}
    <li class="minibutton" rel='tipsy' title="Sign in">
      <a href="{{base_url}}/auth/ldap"><i class="icon-signin"></i></a>
    </li>
    {{/not_signedin}}
  </ul>
</div>
<div id="wiki-content">
<div class="{{#has_header}}has-header{{/has_header}}{{#has_footer}} has-footer{{/has_footer}}{{#has_sidebar}} has-sidebar has-{{bar_side}}bar{{/has_sidebar}}{{#has_toc}} has-toc{{/has_toc}}">
  {{#has_toc}}
  <div id="wiki-toc-main">
    {{{toc_content}}}
  </div>
  {{/has_toc}}
  {{#has_sidebar}}
  <div id="wiki-sidebar" class="gollum-{{sidebar_format}}-content">
    <div id="sidebar-content" class="markdown-body">
      {{{sidebar_content}}}
    </div>
  </div>
  {{/has_sidebar}}
  <div id="wiki-body" class="gollum-{{format}}-content">
    {{#has_header}}
    <div id="wiki-header" class="gollum-{{header_format}}-content">
      <div id="header-content" class="markdown-body">
        {{{header_content}}}
      </div>
    </div>
    {{/has_header}}
    <div class="markdown-body">
      {{{content}}}
    </div>
  </div>
  {{#has_footer}}
  <div id="wiki-footer" class="gollum-{{footer_format}}-content">
    <div id="footer-content" class="markdown-body">
      {{{footer_content}}}
    </div>
  </div>
  {{/has_footer}}
  </div>

</div>
<div id="footer">
  {{#has_tag}}
  <div id="tag" class="gollum-tag">
    <i class="icon-tags"></i>
    {{#tag}}
    <a href="{{base_url}}{{url}}">{{name}}</a> 
    {{/tag}}
  </div>
  {{/has_tag}}
  <p id="last-edit">Last edited by <b>{{author}}</b>, {{date}}</p>
  <p>
    <ul class="actions">
      {{#signedin}}
      <li><a id="delete-link" href="{{base_url}}/{{escaped_url_path}}" data-confirm="Are you sure you want to delete this page?"><span><i class="icon-trash"></i> Delete</span></a> </li>
      {{#editable}}
      <li><a href="#" id="minibutton-rename-page" ><i class="icon-move"></i>Rename</a></li>
      <li><a href="{{base_url}}/edit/{{escaped_url_path}}"
         class="action-edit-page"><i class="icon-edit"></i>Edit</a></li>
      {{/editable}}
      {{/signedin}}
      {{#page_exists}}
      <li><a href="{{base_url}}/history/{{escaped_url_path}}"
         class="action-page-history"><i class="icon-time" alt="History"></i>History</a></li>
      {{/page_exists}}
    </ul>
  </p>
</div>
</div>

<form name="rename" method="POST" action="{{base_url}}/rename/{{escaped_url_path}}">
  <input type="hidden" name="rename"/>
  <input type="hidden" name="message"/>
</form>
