<div id="wiki-wrapper" class="results">
<div id="head">
  <h1>Tags <strong>{{query}}</strong></h1>
  <ul class="actions">
    <li class="minibutton">
      {{>searchbar}}
    </li>
    <li class="minibutton"><a href="{{base_url}}/"
       class="action-home-page">Home</a></li>
  </ul>
</div>
<div id="tagcloud">
{{#has_tagcloud}}
    {{#tags}}
        <a href="{{base_url}}/search?q={{name}}" rel="{{count}}">{{name}}</a>
    {{/tags}}
{{/has_tagcloud}}

{{#no_tagcloud}}
  <p id="no-results">
    There isn't any tag <strong>{{query}}</strong>.
  </p>
{{/no_tagcloud}}

</div>
<div id="footer">
  <ul class="actions">
    <li class="minibutton"><a href="#">Back to Top</a></li>
  </ul>
</div>
</div>

